/* Brand color definition */
:root {
  --vp-c-brand-1: #0086c1;
  --vp-c-brand-2: #1c4c8e;
  --vp-c-brand-3: #0086c1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}